<div class="container-fluid container-top">
  <div class="row">
    <div class="col-sm-8">
      <h2>About KuraQuote</h2>
      <h4>We compare insurance quotes..........</h4> 
      <p>yeah...</p>
    </div>
    <div class="col-sm-4">
      <!------<span class="glyphicon glyphicon-signal logo"></span>------>
    </div>
  </div>
</div>

<div class="bg-grey">
  <div class="row">
    <div class="col-sm-4">
     <!------- <span class="glyphicon glyphicon-globe logo"></span> ------>
    </div>
    <div class="col-sm-8">
      <br><br><br>
      <h4> Satisfaction guaranteed?</h4> 
      <p> We think so.</p>
    </div>
  </div>
</div>
    
    <div class="container-fluid text-center">
      <h2><strong>Companies:</strong></h2>
  <br><br>
  <div class="row text-center">
    <div class="col-sm-4">
      <div class="thumbnail">
        <%=image_tag("companies.jpg", size: "100x100", alt: "Horrible Insurance")%>
        <p><strong>Horrible Insurance</strong></p>
        <p>"Your favorite theoretical insurance company."</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <%=image_tag("tradewind.png", size: "200x500", alt: "Tradewind Insurance Company")%>
        <p><strong>Tradewind Insurance Company</strong></p>
        <p>If you own it, we can cover it!"</p>
      </div>
    </div>
</div>
      
<div class="bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Hawaii, US</p>
      <p><span class="glyphicon glyphicon-phone"></span> 911</p>
      <p><span class="glyphicon glyphicon-envelope"></span> kuraquote@gmail.com</p> 
    </div>
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div> 
    </div>
  </div>
</div>
