<div class="center jumbotron">
  <h1>Welcome to KuraQuote!</h1>
  <h2>"Comparing your insurance rates according to your needs."</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
