<footer class="footer">
  <small>
    <%= link_to 'KuraQuote Inc.', root_path %>
    by Cheyne Funkaoshi Copyright© 2015 All Rights Reserved.
  </small>
  <nav>
    <ul>
      
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "Help", '#' %></li>
      <li><small>Last Updated at 12/2/15</small></li>
    </ul>
  </nav>
</footer>